* {
    margin: 0;
    padding: 0;
}

header {
    height: 100px;
}

.header-link {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
}

.header {
    font-weight: bold;
    font-size: 72px;
    line-height: 86px;
    margin-bottom: 39px;
}

.header-text {
    font-weight: 600;
    font-size: 24px;
    line-height: 150%;
    margin-bottom: 39px;
}

.sign-up-button {
    border-radius: 6px;
    width: 160px;
    height: 50px;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    color: #ED4C5C;
}

.header3 {
    margin-bottom: 24px;
}

.section-header {
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #000000;
}

.section-text {
    font-size: 14px;
    line-height: 140%;
    margin-bottom: 14px;
}

.learn-more-link {
    font-size: 14px;
    line-height: 140%;
    color: #ED4C5C;
}

.features {
    margin-bottom: 63px;
}

.support {
    margin-top: 33px;
    margin-bottom: 20px;
}

.text7 {
    margin-bottom: 5px;
}

.stay-focused {
    margin-bottom: 45px;
}

.contacts {
    margin-bottom: 53px;
}

footer {
    height: 110px;
}

